<ion-title class="ion-padding-top ion-text-center">
  <ion-label>
    <div class="banner-img"></div>
    <h1>Asistencia DUOC</h1>
  </ion-label>
</ion-title>

<ion-content>
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h1>Bienvenido!</h1>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" [(ngModel)]="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button shape="block" (click)="ingresar()">Ingresar</ion-button>
      <ion-button shape="block" (click)="registrar()">Registrarse</ion-button>
      <!-- <ion-button shape="block" (click)="correo()">Olvide mi contraseña</ion-button> -->
      <ion-item>
        <ion-label>Modo oscuro</ion-label>
        <ion-toggle slot="end" (ionChange)="intercambiarModoOscuro($event)"></ion-toggle>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
